.modal {
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
.modal_window {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
main {
    top:0%;
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), /* Подсветка */
                inset 0 0 50px rgba(0, 0, 0, 0.8);
    transition: 1s;
    pointer-events:all;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: grey;
    z-index: 3;
}
.content button {
    border-radius: 20px;
    background-color: aqua;
    width: 150px;
    height: 5x0px;
    font-size: 20px;
}